@use "./base.scss";

// put your custom CSS here!
* {
    direction: rtl;
}

figure[data-rehype-pretty-code-figure] * {
    direction: ltr;
}

.ltr,
.ltr * {
    direction: ltr;
}

math * {
    direction: ltr;
}

.MathJax {
    font-size: 1.35em;
}


.tikz {
  display: block;
  margin: 1.5em 0;
  text-align: center;
  fill: currentColor;
}

.tikz > * {
  direction: ltr;
}
